*{
    margin: 0%;
}
body{
    background-color: black;
}
img{
    margin-left: 16%;
}
ul{
    background-color: gray;
    width: 65%;
    margin-left: 16%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}
li{
    display: inline-block;
    padding: 2%;
    margin-inline-start: 0%;
    font-size: 80%;
    
}
a{
    position: relative;
    color: black;
    text-decoration: none;
}
#inicio{
    padding-left: 2%;
    margin-left: 0px;
    background-color: #FF7901;
    font-weight: bold;
}
#inicio a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
li:hover{
    background-color: #A4A2A2;
    text-decoration: underline;
    font-weight: bold;
}
#inicio a:hover{
    text-decoration: underline;
    font-weight: bold;
}